<h1>Editing deliverables</h1>

<% form_for(@deliverable) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :estimated_effort %><br />
    <%= f.text_field :estimated_effort %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @deliverable %> |
<%= link_to 'Back', deliverables_path %>