<div class="pageTitle"><h1><%=h @deliverable.project_phase.project.name %> >
    <%=h @deliverable.project_phase.name %> > Edit</h1>
</div>

<div class="InputArea">
  <span style="font-size:smaller">*Denotes Required Field</span><br/><br/>
<% form_for(@deliverable) do |f| %>


<%= render :partial => 'deliverable', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Update' %>
    <%= f.submit 'Cancel' %>
  </p>

<% end %>
</div>


