<h1>New deliverable</h1>
<div class="InputArea">
  Project: <%=h @deliverable.project_phase.project.name %><br />
Phase: <%=h @deliverable.project_phase.name %>
<% form_for(@deliverable) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :project_phase_id, {:value => @deliverable.project_phase_id} %>

  <table class="InputTable">
    <tr><td>
        <%= f.label :name %></td><td>
        <%= f.text_field :name %>
      </td></tr>
    <tr><td>
        <%= f.label :type %></td><td>
        <%= f.collection_select :deliverable_type, DeliverableType.find(:all), :name, :name, :prompt => 'Deliverable Type'  %>
      </td></tr>
    <tr><td>
        <%= f.label :unit_of_measure %></td><td>
        <%= f.text_field :unit_of_measure %>
      </td></tr>
    <tr><td>
        <%= f.label :complexity %></td><td>
        <%= f.select :complexity, Complexity.getValues, :prompt => 'Complexity' %>
      </td></tr>
    <tr><td>
        <%= f.label :description %></td><td>
        <%= f.text_area :description, :cols => 60, :rows => 8  %>
      </td></tr>
    <tr><td>
        <%= f.label :estimated_size %></td><td>
        <%= f.text_field :estimated_size %>
      </td></tr>
    <tr><td>
        <%= f.label :estimated_effort %></td><td>
        <%= f.text_field :estimated_effort %>
      </td></tr>
  </table>
  <p>
    <%= f.submit 'Create' %>
  </p>

  <table id="stats_table">
    <th></th>
    <th>Minimum</th>
    <th>Maximum</th>
    <th>Average</th>
    <tr>
      <td>Effort</td>
      <td id="min_effort"></td>
      <td id="max_effort"></td>
      <td id="avg_effort"></td>
    </tr>
    <tr>
      <td>Size</td>
      <td id="min_size"></td>
      <td id="max_size"></td>
      <td id="avg_size"></td>
    </tr>
    <tr>
      <td>Rate</td>
      <td id="min_rate"></td>
      <td id="max_rate"></td>
      <td id="avg_rate"></td>
    </tr>
  </table>

<% end %>

<%= link_to 'Back', @deliverable.project_phase.project %>
</div>
<script type="text/javascript">

<% for estimate in @estimates %>
    estimates.push(new Array('<%=h estimate[:type] %>', '<%=h estimate[:complexity] %>',
  <%= estimate[:statistics][:min_effort] || 0 %>,
  <%= estimate[:statistics][:max_effort] || 0 %>,
  <%= estimate[:statistics][:avg_effort] || 0 %>,
  <%= estimate[:statistics][:min_size] || 0 %>,
  <%= estimate[:statistics][:max_size] || 0 %>,
  <%= estimate[:statistics][:avg_size] || 0 %>,
  <%= estimate[:statistics][:min_rate] || 0 %>,
  <%= estimate[:statistics][:max_rate] || 0 %>,
  <%= estimate[:statistics][:avg_rate] || 0 %>));
<% end %>

  document.observe('dom:loaded', function() {
    jQuery('#stats_table').hide();
    $('deliverable_deliverable_type').observe('change', pairSelected);
    $('deliverable_complexity').observe('change', pairSelected);
  });
</script>