<p>
  <b>Name:</b>
  <%=h @deliverable.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @deliverable.description %>
</p>

<p>
  <b>Est effort:</b>
  <%=h @deliverable.est_effort %>
</p>


<%= link_to 'Edit', edit_deliverable_path(@deliverable) %> |
<%= link_to 'Back', deliverables_path %>