<div class="pageTitle"><h1>Catalogs</h1></div>
<ul id="catalogList">
  <li><%= image_tag("/images/expandCatalog.png", :id => 'deliverableCatalog') %>
      <%= link_to "Deliverable Types", deliverable_types_url %></li>
  <li><%=  image_tag("/images/expandCatalog.png", :id => 'lifecycleCatalog') %>
  <%= link_to "Lifecycles", lifecycles_url %></li>
  <li><%=  image_tag("/images/expandCatalog.png", :id => 'phaseCatalog') %>
<%= link_to "Lifecycle Phases", lifecycle_phases_url %></li>
  <li><%= image_tag("/images/expandCatalog.png", :id => 'typicalDeliverableCatalog')%>
<%= link_to "Typical Deliverables", typical_deliverables_url %></li>
  <li><%=  image_tag("/images/expandCatalog.png", :id => 'userCatalog') %>
<%= link_to "Users", users_url %></li>
</ul>

