<% form_for(@project) do |f| %>

  <div class="InputArea">

    <table class="InputTable">
      <tr>
        <td>
          <%= f.label "Project Name:" %>
        </td><td>
          <%= f.text_field :name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label "Description:" %>
        </td><td>
          <%= f.text_area :description, :rows => 5 %>
        </td>
      </tr>
      
      <% if action_name == 'edit' %>
      <tr>
        <td>
          <%= f.label "Status:" %>
        </td><td>
          <%= f.select(:status, Project::STATUS_TYPES) %>
        </td>
      </tr>
      <% end %>

      <tr>
        <td>
          <%= f.label "Lifecycle:" %>
        </td><td>
          <%= f.collection_select(:lifecycle_id, Lifecycle.find(:all), :id, :name, :prompt => "Select a lifecycle") %>
        </td>
      </tr>
      <% if action_name == 'edit' %>
      <tr>
        <td><%= f.label "Estimated Effort" %></td>
        <td style="font-weight: normal"><%= @project.total_estimated_effort %> hours</td>
      </tr>

      <tr>
        <td><%= f.label "Actual Effort" %></td>
        <td style="font-weight: normal"><%= @project.actual_effort %> hours</td>
      </tr>
      <% end %>

      <tr><td></td>
      </tr>
      <tr><td></td></tr>




      <tr><td>
        </td><td>
          <% if  action_name == 'new' %>
            <%= f.submit 'Create', :style => 'float:left;' %>
          <% elsif action_name == 'edit' %>
            <%= f.submit 'Update', :style => 'float:left;'  %>
          <% else %>
            <%= f.submit 'Submit', :style => 'float:left;'  %>
          <% end %>
          <%= f.submit 'Cancel' %>
        </td></tr>
    </table>

  </div>

<% end %>


