<h1>Projects</h1>

<table class="DisplayTable">
  <tr>
    <th id="HeaderLeft">Name</th>
    <th>Description</th>
    <th>Total Est. Effort</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th id="HeaderRight"</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to h(project.name), project %></td>
    <td><%=h project.description %></td>
    <td><%=h project.total_estimated_effort %></td>
    <td><%=h project.status %></td>
    <td></td>
    <td></td>
    <td><%= link_to 'x', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
    <tr id="BottomRow"><td colspan="7"></td></tr>
</table>

<br />