<table class="DisplayTable" >
  <tr><td>
      <b>Name:</b>
      <%=h @project.name %>
    </td>
    <td width="100px">
      <%= link_to 'Edit', edit_project_path(@project) %> |
      <%= link_to 'Back', projects_path %>
    </td>
  </tr>

  <tr><td>
      <b>Description:</b>
      <%=h @project.description %>
    </td>
  </tr>
  <tr><td>
      <b>Total estimated effort:</b>
      <%=h @project.total_estimated_effort %>
    </td>
  </tr>
  <tr><td>
      <b>Status:</b>
      <%=h @project.status %>
    </td>
  </tr>
</table>
<script type="text/javascript" >
  function rshow(elemId1, elemId2)
  {
    
    var control1 = document.getElementById(elemId1);
    //alert(control1.id);
    control1.style.display = 'block';

    var control2 = document.getElementById(elemId2);
    //alert(control2.id);
    control2.style.display = 'none';
   
  }

</script>
<div id="PhaseControls">
  Create phase:
  <input id="checked_1" type="radio" name="check_opt" checked="checked"
         onclick="rshow('lifecycle_phase', 'custom_phase')">Lifecycle Phase</input>
  <input id="checked_2" type="radio" name="check_opt"
         onclick="rshow('custom_phase', 'lifecycle_phase')">Custom Phase</input>
  <br />
  <div id="lifecycle_phase" >
    <br/>
    <br/>
    Define the information required for this type of phase<br/>
    <br/>
    <br/>
  </div>
  <div id="custom_phase" style="display: none" >
    <% form_remote_for(:project_phase, @project_phase, :url => {:controller => :project_phases, :action => :create},
  :html => { :id => "phases_form"}) do |f| %>
  <%# form_remote_for :project_phase, :url => :url => {:controller => :project_phases, :action => :create} do |f| %>

  <table class="quickTable" id="quickProject">
    <tr>
      <td>Name:</td><td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>Description:</td><td><%= f.text_field :description %></td>
    </tr>
  </table>

  <%= f.submit "Create" %>
<% end %>
  </div>
</div>
<table class="DisplayTable" style="width: 100%">
  <th id="HeaderLeft" style="width: 80%">Phase / Deliverables</th>
  <th>Estimated Effort</th>
  <th>Actual Effort</th>
  <th>Estimated Prod. Rate</th>
  <th>Actual Prod. Rate</th>
  <th></th>
  <th id="HeaderRight"</th>
  <tbody id="phaseslist">
    <%= render :partial => @project_phases %>
  </tbody>
</table>

<span id="sortable_list_control">
<%= sortable_element("phaseslist", 
  :url => sort_projects_path,
  :tag => "tr") %>
</span>



