
<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<p>
  <b>Total estimated effort:</b>
  <%=h @project.total_estimated_effort %>
</p>

<p>
  <b>Status:</b>
  <%=h @project.status %>
</p>
<p>
  <a href="#" onclick="prompt.setDefaultValue('Pink');prompt.setVisible(true);">
    Create New Phase
  </a>
  </p>
  <script type="text/javascript">
    var promptHandler = function(response) {
     
       // alert('I like ' + response + ' too!');
      
    }


    var prompt = new goog.ui.Prompt(
        'Enter New Phase Details',['Phase Name'],
        promptHandler);
       

  </script>

  <ul id="phaseslist">
<%= render :partial => @project_phases %>

  </ul>

  <%= sortable_element("phaseslist", :url => sort_projects_path, :handle => "handle") %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
