<div class="pageTitle">
<h1>Project > <%=h @project.name %> (<%=h @project.status %>)
    <%= link_to image_tag('/images/edit_icon.gif', :size => "15x15", :title => 'Edit '+@project.name, :alt => 'Edit '+@project.name), edit_project_path(@project) %>
      <%= link_to image_tag('/images/delete_icon.gif', :size => "15x15", :title => 'Delete '+@project.name, :alt => 'Delete '+@project.name), @project, :confirm => 'Are you sure?', :method => :delete %>
      <%= link_to image_tag('/images/back.gif', :size => "15x15", :title => 'Back', :alt => 'Back'), projects_path %>
 </h1>
 <p><b>Description: </b><%=h @project.description %></p>
</div>

<script type="text/javascript" >
  function rshow()
  {
    jQuery('#newPhase').toggle();
    jQuery('#project_phase_name').val('');8
    jQuery('#project_phase_description').val('');
    jQuery('#newPhaseIcon').toggle();
    jQuery('#cancelPhaseIcon').toggle();
  }
</script>

<table class="datatable" id="example" style="width: 100%">
  <thead>
    <tr>
  <th id="HeaderLeft" style="width: 80%">Phases<br/>> Deliverables</th>
  <th>Est. Effort</th>
  <th>Actual Effort</th>
  <th></th>
  <th id="HeaderRight"></th>
    </tr>
  </thead>
  <%= render :partial => @project_phases %>
  <tbody id="projectTableBottom">
  <tr class=<%= @project_phases.size % 2 == 0 ? "odd": "evenPhase" %>
      style="cursor:pointer" onClick="rshow();return false;">
    <td>
     <%= image_tag('/images/plus_icon.gif', :title => 'Add New Phase', :alt => 'Add New Phase', :id => 'newPhaseIcon')  %>
     <%=  image_tag('/images/cancel_icon.gif', :title => 'Cancel New Phase', :alt => 'Cancel New Phase', :id => 'cancelPhaseIcon')  %>
     <b><%= "New Phase" %></b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="newPhase" style="display:none">
    <td colspan="3">
      <div style="margin: 0 auto;">
       <% form_remote_for(:project_phase, @project_phase, :url => {:controller => :project_phases, :action => :create},
  :html => { :id => "phases_form"}) do |f| %>
      <span style="font-weight:bold;float:left">Name: <%= f.text_field :name %>
    Description:<%= f.text_field :description %></span>
    <%= hidden_field 'project_phase', 'project_id', :value => @project.id %>
     <%= f.submit "Create", :style => "float:left;" %>
     <%= button_to 'Cancel', '#',  :onclick => 'rshow();return false;', :style => "float:left;" %>
      </div>
<% end %></td>
  </tr>
  <tr class="tableFooter">
    <td style="text-align:right"><b><span class="whiteText">Totals:</span></b></td>
    <td><span class="whiteText"><b><%=h @project.total_estimated_effort %></b></span></td>
    <td><span class="whiteText"><b><%=h @project.actual_effort %></b></span></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
  
<span id="sortable_list_control">
<%= sortable_element("example",
  :url => sort_projects_path,
  :handle => 'handle',
  :tag => "tbody", :only => 'phaseSelection') %>
</span>



