<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<p>
  <b>Total estimated effort:</b>
  <%=h @project.total_estimated_effort %>
</p>

<p>
  <b>Status:</b>
  <%=h @project.status %>
</p>


<%= render :partial => @project_phases %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>