<div class="pageTitle"><h1>New Lifecycle Phase</h1></div>

<div class="InputArea">
<% form_for(@lifecycle_phase) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <br/>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <br/>
  <p>
    <%= f.label :sequence %><br />
    <%= f.text_field :sequence %>
  </p>
  <br/>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', :controller => 'catalogs' %>
</div>