<p>
  <b>Name:</b>
  <%=h @lifecycle_phase.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @lifecycle_phase.description %>
</p>

<p>
  <b>Sequence:</b>
  <%=h @lifecycle_phase.sequence %>
</p>


<%= link_to 'Edit', edit_lifecycle_phase_path(@lifecycle_phase) %> |
<%= link_to 'Back', lifecycle_phases_path %>