<h1>Recently Logged Effort</h1>

<div>
<% form_for @effort, :html => {:class => "InputArea", :style => "width:70%;"} do |form| %>
  <% form.error_messages %>
  <%= collection_select '', :project_id, @projects, :id, :name,
    :prompt => 'Select Project' %>
  <%= collection_select '', :phase_id, @phases, :id, :name, :prompt => 'Select Phase' %>
  <%= form.collection_select :deliverable_id, @deliverables, :id, :name,
    :prompt => 'Select Deliverable', :selected => @selected_deliverable %>

  <%= form.text_field :value, :style => "width: 30px;"%>Hours
  <%= form.text_field :effort_date, :class => 'datepicker', :style => "width: 80px" %>
  <%= form.submit 'Add Effort' %>
<% end %>
</div>

<% columns = [{:type => 'html'}, {:type => 'html'}, {:type => 'html'},{:type => 'html'}, {:type => 'html'}] %>
<%= datatable(columns, {:sort_by => "[4,'desc']", :per_page => 10}) %>
<div>
<table class='datatable' id="example">
  <thead>
  <th id="HeaderLeft">Project</th>
  <th>Phase</th>
  <th>Deliverable</th>
  <th>Effort (Hours)</th>
  <th>Last Updated</th>
  <th id="HeaderRight"></th>
</thead>
<tbody>
  <% for effort in @efforts %>
    <tr>
      <!-- % deliverable = Deliverable.find_by_id(effort.deliverable_id) %-->
      <td><%= effort.deliverable.project_phase.project.name %></td>
      <td><%= effort.deliverable.project_phase.name %> </td>
      <td><%=  effort.deliverable.name %></td>
      <td><%=  effort.value.round(1) %></td>
      <td><%=  effort.updated_at.to_s(:long) %></td>
      <td><%= link_to_function 'Log', "projectSelect(#{effort.deliverable.project_phase.id},
          #{effort.deliverable.project_phase.project.id}, #{effort.deliverable.id})" %>
        <%=  link_to image_tag('/images/delete_icon.gif', :size => "15x15", :title => 'Delete effort for '+effort.deliverable.name, :alt => 'Delete effort for '+effort.deliverable.name),
          effort, :confirm => 'Are you sure to delete effort for '+effort.deliverable.name+'?', :method => :delete %>
      </td>
    </tr>
  <% end %>
  <% if @efforts.length == 0 %>
    <tr>
      <td colspan="7">You have not logged effort to any deliverables</td>
    </tr>
  <% end %>
</tbody>
</table>
</div>
<div class="cleaner"></div>



<script type="text/javascript">
<% for phase in @phases %>
    phases.push(new Array(<%= phase.project_id %>, '<%=h phase.name %>', <%= phase.id %>));
<%end%>
<% for deliverable in @deliverables %>
    deliverables.push(new Array(<%= deliverable.project_phase_id %>, '<%=h deliverable.name %>', <%= deliverable.id %>));
<%end%>

  document.observe('dom:loaded', function() {
    projectSelect();
    phaseSelect();
    $('_project_id').observe('change', projectSelect);
    $('_phase_id').observe('change', phaseSelect);
  });
</script>