<h2>Recently Logged Effort</h2>
<table class="DisplayTable">
  <th id="HeaderLeft">Project</th>
  <th>Phase</th>
  <th>Deliverable</th>
  <th>Effort (Hours)</th>
  <th>Last Updated</th>
  <th></th>
  <th id="HeaderRight"></th>
  <% for effort in @efforts %>
    <tr>
      <% deliverable = Deliverable.find_by_id(effort.deliverable_id) %>
      <td><%= deliverable.project_phase.project.name %></td>
      <td><%= deliverable.project_phase.name %> </td>
      <td><%=  deliverable.name %></td>
      <td><%=  effort.value.round(1) %></td>
      <td><%=  effort.updated_at.to_s(:long) %></td>
      <td><%= link_to 'Log', :action => 'index', :selected_deliverable => deliverable.id %></td>
      <td><%= link_to 'X', effort, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  <% if @efforts.length == 0 %>
    <tr>
      <td colspan="7">You have not logged effort to any deliverables</td>
    </tr>
  <% end %>
  <tr id="BottomRow"><td colspan="7"></td></tr>
</table>


<% form_for @effort, :html => {:class => "InputArea", :style => "width:70%;"} do |form| %>
  <% form.error_messages %>
  <%= collection_select '', :project_id, @projects, :id, :name, :prompt => 'Select Project' %>
  <%= collection_select '', :phase_id, @phases, :id, :name, :prompt => 'Select Phase' %>
  <%= form.collection_select :deliverable_id, @deliverables, :id, :name, :prompt => 'Select Deliverable', :selected => @selected_deliverable %>
  <%= form.text_field :value, :style => "width: 30px;"%>
  <%= form.submit 'Add Effort' %>
<% end %>


<script type="text/javascript">
<% for phase in @phases %>
    phases.push(new Array(<%= phase.project_id %>, '<%=h phase.name %>', <%= phase.id %>));
<%end%>
<% for deliverable in @deliverables %>
    deliverables.push(new Array(<%= deliverable.project_phase_id %>, '<%=h deliverable.name %>', <%= deliverable.id %>));
<%end%>

  document.observe('dom:loaded', function() {
    effortSelect();
    $('_project_id').observe('change', effortSelect);
    $('_phase_id').observe('change', effortSelect);
  });
</script>