<tbody id="phase_<%= project_phase.id %>" class="phaseSelection">
  <tr class="project_phase <%= cycle('oddPhase', 'evenPhase') %>"
      id="project_phase_<%= project_phase.id %>">
    <td style="border-radius: 0px;">
       <% if @active %>
      <div style="width: 20px;float:left">
         <%= image_tag "/images/draggable.png", :style => 'margin-top:2px;cursor:move'%>
      </div>
      <%end%>
      <div style="margin-top:2px;height:100%;width:100%;<%= 'cursor: pointer;" onClick="window.location.href=\'' + edit_project_phase_path(project_phase) + "'" %>">
      <b><%= project_phase.name %></b>
      </div>
    </td>
    <td><%= project_phase.total_estimated_effort %></td>
    <td style="border-radius: 0px;"><%= project_phase.actual_effort %></td>
    <%  if @active %>
    <td>
      <%=  link_to image_tag('/images/edit_icon.gif', :size => "15x15",
        :title => 'Edit '+project_phase.name, :alt => 'Edit '+project_phase.name,
        :style => 'margin-left: 5px;'), edit_project_phase_path(project_phase)  %>
    </td>
    <td onClick="return false;">
      <%= link_to image_tag('/images/delete_icon.gif', :size => "15x15",
        :title => 'Delete '+project_phase.name, :alt => 'Delete '+project_phase.name),
        project_phase, :confirm => 'Are you sure?', :method => :delete %>
    </td>
    <% end %>
  </tr>
  <% for deliverable in project_phase.deliverables.all %>
    <tr class="deliverableRow">
      <td style="border-radius: 0px;"
        <% if @active %>
        style="cursor: pointer"
        onClick="window.location.href='<%= edit_deliverable_path(deliverable) %>'"
        <%end%>>
        <%= deliverable.name %>
      </td>
      <td><%= deliverable.estimated_effort %> </td>
      <td style="border-radius: 0px;"><%= deliverable.actual_effort %> </td>

      <%  if @active %>
      <td> <%= link_to image_tag('/images/deliverable_edit.gif', :title => 'Edit '+deliverable.name,
          :alt => 'Edit '+deliverable.name, :style => 'margin-left: 5px;'), edit_deliverable_path(deliverable)  %>
      </td>
      <td>
        <%= link_to image_tag('/images/deliverable_remove.gif',
          :title => 'Delete '+deliverable.name, :alt => 'Delete '+deliverable.name),
          deliverable, :confirm => 'Are you sure?', :method => :delete %>
      </td>
      <% end %>
    </tr>
  <% end %>
  <% if @active %>
  <tr onClick="window.location.href='<%= new_deliverable_path(:project_phase_id => project_phase.id) %>'"
      style="cursor: pointer;" class="deliverableRow">
    <td style="border-radius: 0px;">
      <%=  image_tag('/images/plus_icon.png', :title => 'Add New Deliverable', :alt => 'Add New Deliverable')  %>
      <%= " New Deliverable" %>
    </td>
    <td></td>
    <%= "<td></td><td></td>" if @active %>
    <td style="border-radius: 0px;"></td>
  </tr>
  <% end %>
</tbody>