<tbody class="_handle phaseSelection">
  <tr class="project_phase <%= cycle('odd', 'evenPhase') %>"
      id="project_phase_<%= project_phase.id %>">
    <td style="cursor: pointer" onClick="window.location.href='<%= edit_project_phase_path(project_phase) %>'">
      <span style="cursor: move"><b>[DRAG]</b></span>
      <b><%= project_phase.name %></b>
    </td>
    <td><%= project_phase.total_estimated_effort %></td>
    <td><%= project_phase.actual_effort %></td>
    <td>
      <%=  link_to image_tag('/images/edit_icon.gif', :size => "15x15",
        :title => 'Edit '+project_phase.name, :alt => 'Edit '+project_phase.name,
        :style => 'margin-left: 5px;'), edit_project_phase_path(project_phase)  %>
    </td><td onClick="return false;">
      <%= link_to image_tag('/images/delete_icon.gif', :size => "15x15",
        :title => 'Delete '+project_phase.name, :alt => 'Delete '+project_phase.name),
        project_phase, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
  <% for deliverable in project_phase.deliverables.all %>
    <tr class="deliverableRow">
      <td style="cursor: pointer"
        onClick="window.location.href='<%= edit_deliverable_path(deliverable) %>'">
        <%= deliverable.name %>
      </td>
      <td><%= deliverable.estimated_effort %> </td>
      <td><%= deliverable.actual_effort %> </td>
      <td> <%= link_to image_tag('/images/edit_icon.gif', :size => "15x15", :title => 'Edit '+deliverable.name,
          :alt => 'Edit '+deliverable.name, :style => 'margin-left: 5px;'), edit_deliverable_path(deliverable)  %>
      </td><td>
        <%= link_to image_tag('/images/delete_icon.gif', :size => "15x15",
          :title => 'Delete '+deliverable.name, :alt => 'Delete '+deliverable.name),
          deliverable, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
  <tr onClick="window.location.href='<%= new_deliverable_path(:project_phase_id => project_phase.id) %>'"
      style="cursor: pointer;" class="deliverableRow">
    <td style="border-radius: 0px;">
      <%=  image_tag('/images/plus_icon.png', :title => 'Add New Deliverable', :alt => 'Add New Deliverable')  %>
      <%= " New Deliverable" %>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td style="border-radius: 0px;"></td>
  </tr>
</tbody>