<h1>Editing project_phases</h1>

<% form_for(@project_phase) do |f| %>
  <%= f.error_messages %>



  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols=> 80, :rows => 5  %>
  </p>
  <p>
    <%= f.label :sequence %><br />
    <%= f.text_field :sequence %>
  </p>
  <p>
    <%= f.label :total_estimated_effort %><br />
    <%= f.text_field :total_estimated_effort %>
  </p>
  <p>
    <%= f.label :lifecycle_phase_id %><br />
    <%=h @project_phase.lifecycle_phase.name  %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<!--%= link_to 'Show', @project_phase %> | --!>
<%= link_to 'Back', @project_phase.project %>