<h1>Editing project_phases</h1>

<% form_for(@project_phases) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :sequence %><br />
    <%= f.text_field :sequence %>
  </p>
  <p>
    <%= f.label :total_estimated_effort %><br />
    <%= f.text_field :total_estimated_effort %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @project_phases %> |
<%= link_to 'Back', project_phases_path %>