<p>
<!--  <a href="#" onclick="prompt.setDefaultValue('Pink');prompt.setVisible(true);">
    Prompt
  </a>
  </p> -->
  <script type="text/javascript">
    var promptHandler = function(response) {
      if (response == null) {
        alert('Afraid to answer?');
      } else {
        alert('I like ' + response + ' too!');
      }
    }

    var prompt = new goog.ui.Prompt(
        'Information Required',
        'What is your favorite color?',
        promptHandler);
  </script>
  
<p>
  <b>Name:</b>
  <%=h @project_phase.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project_phase.description %>
</p>

<p>
  <b>Sequence:</b>
  <%=h @project_phase.sequence %>
</p>

<p>
  <b>Total estimated effort:</b>
  <%=h @project_phase.total_estimated_effort %>
</p>


<%= link_to 'Edit', edit_project_phase_path(@project_phase) %> |

<%= link_to 'Back', project_path %>
