<p>
  <b>Name:</b>
  <%=h @project_phases.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project_phases.description %>
</p>

<p>
  <b>Sequence:</b>
  <%=h @project_phases.sequence %>
</p>

<p>
  <b>Total estimated effort:</b>
  <%=h @project_phases.total_estimated_effort %>
</p>


<%= link_to 'Edit', edit_project_phases_path(@project_phases) %> |
<%= link_to 'Back', project_phases_path %>