  <% form_for @user_session do |form| %>
<div id="Login">
  <div class="LoginLabel">
    <%= form.label :username, "Username" %>
  </div>
  <div class="LoginTextfield">
    <%= form.text_field :username %>
  </div>
  <div class="LoginLabel">
    <%= form.label :password, "Password" %>
  </div>
  <div class="LoginTextfield">
    <%= form.password_field :password %>
  </div>
  <div class="LoginButton">
    <%= form.check_box :remember_me%> <%= form.label "remember password" %>
    <br/>

  <%= form.submit "Login" %><a href="#">Forgot your password?</a>
  </div>
</div>
<% end %>


