<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>PET 1.3</title>
  <%= stylesheet_link_tag "pet", :media => "all" %>
  </head>
  <body>
    <table class="nav-tabs">
  <tr id="login">
    <td>
     <div id="user_nav">
      <% if current_user %>
      <%= link_to "Settings", edit_user_path(:current) %>
       | <%= link_to "Logout", logout_path %>
       | Logged in: <%=  current_user.username %>
      <% else %>
      <%= link_to "Register", new_user_path %>
       | <%= link_to "Login", login_path %>
       <% end %>
    </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>LOGO</h1>
  <ul>
    <% if current_user %>
    <li><a>Create New Project</a></li>
    <li id="selected"><a>Log Effort</a></li>
    <% end %>
  </ul>
    </td></tr>
</table>
    <table class ="content-table">
  <tr>
    <% if current_user %>
    <td class="side-bar">
      Side bar stuff
    </td>
    <% end %>
    <td>
       <%= yield :layout %>
    </td>
  </tr>
  <tr id="footer">
    <td colspan="2">
      Copyright
    </td>
  </tr>
</table>
   <!-- <label id="code.depot.e.include"/> -->
  </body>
</html>